.functions
{
    margin: 0;
    height: 10%;
    padding: 4%;
    background: rgb(218, 232, 228);
    color: rgb(95, 12, 12);
    font-size: .8rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.field {
	width: 100%;
	background: black;
	height: 300px;
}