h1{
	text-align: center;
	background-color: wheat;
}
.buttons
{
    height:80px;
    width:100px;
	/* margin: 20px; */
	background-color: black;
	color: rgb(255, 255, 255);	
	font-size: medium;
	
	text-align: center;
	border: 2px solid wheat;
}
.options{
	display: flex;
	justify-content: center;
}
.options h6{
	padding-right: 10px;
}
.buttons:hover
{
	background-color: rgb(24, 8, 110);
	cursor: pointer;
}
.buttons:active
{
	background-color: rgb(3, 8, 23);
}
.field {
	width: 100%;
	background: black;
	height: 300px;
}
.drawing-tools{
	display: grid;
	grid-template-columns: 100px 1fr 60px;
}
.colors,
.shaps{
	margin-top: 50px;
}
.colors{
	margin-right: 20px;
}
#holder{
	margin: 50px;
}
h6{
	margin: 0;
}
.colors .buttons{
	width: 40px;
	height: 40px;
}
/* start added fill border style */
#fill-border{
	width: 60px;
	padding-right: 20px;
	position:relative; 
	right: 10px;
	margin-bottom: 20px;
}
/* end added fill border style */

#red{
	background-color: red;
}
#orange{
	background-color: orange;
}
#yellow{
	background-color: yellow;
}
#green{
	background-color: green;
}
#purple{
	background-color: purple;
}
#gray{
	background-color: gray;
}
#black{
	background-color: black;
}
#white{
	background-color: white;
}
#blue{
	background-color: blue;
}
#holder{
	border: 3px solid black;
}

.form-container {
	max-width: 500px;
	height: 350px;
	padding: 10px;
	background-color: rgb(127, 193, 209);
	max-width: 500px;
	  padding: 10px;
	  
  }
  
	/* The popup form - hidden by default */
	.form-popup {
	  bottom: 500px;
	  right: 75px;
	  border: 3px solid #91e5e6;
	  z-index: 4;
	  width: 500px;
	  display: none;
	  position: fixed;
	}
	
	  /* Full-width input fields */
	  .form-container input[type=text] {
		width: 80%;
		padding: 15px;
		margin: 5px 0 22px 0;
		border: none;
		background: #9bd5da;
	  }
	
	  /* When the inputs get focus, do something */
	  .form-container input[type=text]:focus{
		background-color: rgb(145, 209, 223);
		outline: none;
	  }
	
	  /* Set a style for the submit/login button */
	  .form-container .btn {
		background-color: #ec710d;
		color: rgb(137, 197, 209);
		padding: 16px 20px;
		border: none;
		cursor: pointer;
		width: 70%;
		margin-bottom:10px;
		opacity: 0.8;
	  }
	
	
	  /* Add some hover effects to buttons */
	  .form-container .btn:hover{
		opacity: 1;
	
	   
	  
	}
	/* Full-width input fields */
	.form-container input[type=text]{
	  width: 90%;
	  padding: 15px;
	  margin: 5px 0 22px 0;
	  border: none;
	  background: #87afb5;
	}
	
	/* When the inputs get focus, do something */
	.form-container input[type=text]:focus{
	  background-color: rgb(182, 222, 219);
	  outline: none;
	}
	
	/* Set a style for the submit/login button */
	.form-container .btn {
	  background-color: #000000;
	  color: rgb(255, 255, 255);
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  margin-bottom:10px;
	  opacity: 0.8;
	}
	
	/* Add some hover effects to buttons */
	.form-container .btn:hover {
	  opacity: 1;
	}

	.format{
		padding: 10px;
		margin-bottom: 20px;
		background-color: #87afb5;
	}

	.label{
		font-family: Arial, Helvetica, sans-serif;
	}