<h1>Our paint web app</h1>
<div class="options">
  <h6>OPTIONS</h6>
  <button class = "buttons" id="delete" value="delete" (click)="DeleteCase()" >Delete</button>
  <button class = "buttons" id="copy" value="copy" (click)="CopyCase()" >copy</button>
  <button class = "buttons" id="load" value="load" (click)="load()">load</button>
  <button class = "buttons" id="Save" value="Save" (click)="save()">Save</button>
  <button class = "buttons" id="undo" value="undo" (click)="undo()">undo</button>
  <button class = "buttons" id="redo" value="redo" (click)="redo()">redo</button>
</div>

<div class="drawing-tools">
  <div class="shaps">
    <h6>SHAPES</h6>
    <button class = "buttons" id="rectangle" value="rectangle" (click)=" shapeFlag = 'rectangle'; rectangleFlag = true; createShapeFn();" >Rectangle</button>
    <button class = "buttons" id="circle" value="circle" (click)=" shapeFlag = 'circle'; circleFlag = true; createShapeFn() " >circle</button>
    <button class = "buttons" id="ellipse" value="ellipse" (click)=" shapeFlag = 'ellipse'; ellipseFlag = true; createShapeFn() " >Ellipse</button>
    <button class = "buttons" id="square" value="square" (click)=" shapeFlag = 'square'; squareFlag = true; createShapeFn() " >Square</button>
    <button class = "buttons" id="line" value="line" (click)=" shapeFlag = 'line'; lineFlag = true; createShapeFn() " >line</button>
    <button class = "buttons" id="triangle" value="triangle" (click)=" shapeFlag = 'triangle'; triangleFlag = true; createShapeFn() " >triangle</button>
  </div>

  <div id="holder" ></div>

  <div class="colors">
    <h6>COLORS</h6>

    <!-- manipulate between filling and borderOnly -->
    <button class = "buttons" id="fill-border" (click)="fillFlag = !fillFlag">
      <span *ngIf="!fillFlag">&nbsp;&nbsp;&nbsp;fill</span>
      <span *ngIf="fillFlag">border</span>
    </button>

    <button class = "buttons" id="red" (click)=" sendColor('red');"></button>
    <button class = "buttons" id="yellow" (click)="sendColor('yellow');"></button>
    <button class = "buttons" id="green" (click)="sendColor('green');"></button>
    <button class = "buttons" id="blue" (click)="sendColor('blue');"></button>
    <button class = "buttons" id="orange" (click)="sendColor('orange');"></button>
    <button class = "buttons" id="purple" (click)="sendColor('purple');"></button>
    <button class = "buttons" id="gray" (click)="sendColor('gray');"></button>
    <button class = "buttons" id="black" (click)="sendColor('black');"></button>
    <button class = "buttons" id="white" (click)="sendColor('white');"></button>
  </div>
</div>
  
  
